@model SalahStreakApp.Models.Winner

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Winner</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Round)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Round.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Participant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Participant.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgeGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgeGroup.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinalScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RankInAgeGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RankInAgeGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRewarded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRewarded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RewardedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RewardedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
