@model IEnumerable<SalahStreakApp.Models.Winner>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Round)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RankInAgeGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRewarded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RewardedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Round.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Participant.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeGroup.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RankInAgeGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRewarded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RewardedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
