@model SalahStreakApp.Models.BiometricLog

@{
     ;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>BiometricLog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParticipantId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParticipantId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Participant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Participant.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckInTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckInTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeviceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RawData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RawData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsProcessed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsProcessed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
